header {
  height: var(--primary-header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: static;
  top: 0;

  a {
    color: #fff;

    @include respond-below(lg) {
      font-size: 25px;
    }

    @include respond-above(lg) {
      font-size: 30px;
    }
  }

  .optionsMenu {
    background-color: inherit;
    padding: 10px;
    border-radius: 50%;
    font-size: 28px;
    color: #fff;
    transition: 150ms background-color ease;
    border: none;
    outline: none;
    pointer-events: inherit;

    &:hover {
      cursor: pointer;
      color: rgb(219, 219, 219);
    }

    @include respond-below(md) {
      display: flex;
    }

    @include respond-above(md) {
      display: none;
    }
  }

  nav {
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: flex;

    .navIconButton {
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--text-color-light);
      font-size: 23px;
      transition: 150ms color ease;
      cursor: pointer;
      border: none;
      outline: none;
      &:hover {
        color: var(--icon-color-hover);
      }
    }

    .menuUser {
      color: #fff;
      background-color: inherit;
      border: none;
      outline: none;
      cursor: pointer;
      transition: 150ms color ease;
      align-items: center;
      justify-content: center;
      &:hover {
        color: var(--icon-color-hover);
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
      }

      p {
        font-size: var(--text-size-medium);
        margin-right: 2px;
      }

      span {
        font-size: var(--text-size-medium);
      }
      @include respond-below(md) {
        display: none;
      }

      @include respond-above(md) {
        display: flex;
      }
    }
  }
}
