.messengerButton {
  position: fixed;
  top: 190px;
  right: 25px;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 50%;
  font-size: 32px;
  color: #eeeeee;
  transition: 150ms background-color ease;
  border: none;
  outline: none;
  pointer-events: inherit;

  &:hover {
    background-color: var(--primary-color-darker);
    cursor: pointer;
  }

  @include respond-below(lg) {
    display: flex;
  }

  @include respond-above(lg) {
    display: none;
  }
}
