.messengerButton {
  position: fixed;
  bottom: 100px;
  right: 30px;
  background-color: var(--primary-color);
  padding: 12px;
  border-radius: 50%;
  font-size: 34px;
  color: #eeeeee;
  transition: 150ms background-color ease;
  border: none;
  outline: none;
  pointer-events: inherit;

  &:hover {
    background-color: var(--primary-color-darker);
    cursor: pointer;
  }

  @include respond-below(md) {
    display: flex;
  }

  @include respond-above(md) {
    display: none;
  }
}
