/*
*
* Mixins
*
* Root breakpoints and Sass functions.
*
*/

$breakpoints-reverse: (
  xs: 319.98px,
  sm: 479.98px,
  md: 767.98px,
  lg: 1023.98px,
  xl: 1199.98px,
  2xl: 1399.98px
);

$breakpoints: (
  xs: 320px,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  2xl: 1400px
);

@mixin respond-above($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media screen and (min-width: ($breakpoint-value)) {
      @content;
    }
  } @else {
    @warn "Invalid breakpoint: #{$breakpoint}.";
  }
}

@mixin respond-below($breakpoint) {
  @if map-has-key($breakpoints-reverse, $breakpoint) {
    $breakpoint-value: map-get($breakpoints-reverse, $breakpoint);

    @media (max-width: ($breakpoint-value)) {
      @content;
    }
  } @else {
    @warn "Invalid breakpoint: #{$breakpoint}.";
  }
}
