.form {
  width: 600px;
  border: 1px solid red;
  padding: 20px;
}

.inputContainer {
  background-color: #131313;
  border: 1px solid gray;
  position: relative;
  border-radius: 5px;
  margin-bottom: 10px;
}

.inputLabel {
  position: absolute;
  top: 8px;
  left: 15px;
  color: #8f8f8f;
  font-size: 14px;
}

.inputField {
  background-color: inherit;
  color: white;
  outline: none;
  padding: 30px 15px 10px 15px;
  border: none;
  font-size: 18px;
  width: 100%;
  border-radius: inherit;
  letter-spacing: 0.5px;
}
