.conversationHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 15px;

  .conversationHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    flex-direction: column;
    gap: 10px;

    .headerNavTool {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 10px 0;

      div {
        display: flex;
        gap: 10px;

        p {
          font-weight: 500;
          font-size: 24px;
          color: #fff;
        }
      }
      span {
        font-size: 14px;
        color: #cbcbcb;
      }
    }

    .inputWrapper {
      display: flex;
      width: 100%;
      position: relative;

      input {
        width: 100%;
        outline: none;
        border: none;
        background-color: #131313;
        color: #cbcbcb;
        font-size: 15px;
        padding: 20px 50px;
        border-radius: 25px;
      }
      input::-webkit-input-placeholder {
        color: #cbcbcb;
      }
      input:-moz-placeholder {
        color: #cbcbcb;
      }

      span {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 23px;
        display: flex;
        align-items: center;
        color: #cbcbcb;
      }
    }
  }
}

.conversationList {
  display: block;
  height: 100%;
  background-color: inherit;

  .conversationListItem {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 50px;
    gap: 10px;
    transition: 150ms background-color ease;
    border-bottom: 1px solid #2b2b2b;

    &:hover {
      background-color: #242424;
    }

    .userProfile {
      display: flex;
      align-items: center;
      gap: 15px;
      width: 100%;
      position: relative;

      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }

      div {
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 5px;

        p {
          font-size: 17px;
          font-weight: 400;
          color: #e4e4e4;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 10em;
        }
        span {
          font-size: 12px;
          color: #cbcbcb;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 14em;
        }
      }

      .lastConnection {
        position: absolute;
        top: 0;
        right: -15%;
        font-size: 11px;
        font-weight: 400;
        color: #cbcbcb;
        letter-spacing: 0.5px;
      }
    }

    .dotNotification {
      width: 6px;
      height: 6px;
      border-radius: 100%;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 25px;
      background-color: var(--primary-color-light);
    }

    .message {
      font-size: 14px;
      color: #cbcbcb;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 17em;
    }
  }
}
